/* @import '~bootstrap/scss/bootstrap'; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

.App {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  font-family: 'Lobster', cursive;
  margin-bottom: 20px;
}
.table {
  max-width: 350px !important;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 60px;
  grid-gap: 0.4rem;
  justify-content: center;
  margin-bottom: 20px;
}

.cube {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  border-color: #d3d6da;
}

.table .cube.border-custom {
  border-color: #878a8b !important;
  transition: border-color 0s;
  animation: zoom 0.1s linear;
}
.table .cube.border-custom-two {
  border-color: #878a8b !important;
  transition: border-color 0s linear 0s;
}
.table .cube.wrong,
.table .cube.almost,
.table .cube.perfect {
  color: #fff;
  animation: flip 0.6s;
  transition: background-color 0s linear 0.3s, color 0s linear 0.3s, border-color 0s linear 0.3s;
}
.table .cube.wrong {
  border: 1px solid #878a8b !important;
  background-color: #878a8b;
}

.table .cube.almost {
  border: 1px solid #c9b459 !important;
  background-color: #c9b459 !important;
}

.table .cube.perfect {
  border: 1px solid #6aaa65 !important;
  background-color: #6aaa65 !important;
}

.modal-custom {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

.modal-inner {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #fff;
  border-radius: 6px;
  font-size: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.win-lose {
  font-family: 'Lobster', cursive;
}

.key {
  padding: 16px 0;
  text-align: center;
  margin: 2px;
  flex: 1;
  background-color: #d3d6db;
  cursor: pointer;
}

.key:not(.enter):not(.backspace) {
  max-width: 46px;
}

.key.wrong {
  background-color: #878a8b;
  color: #fff;
  transition: all 0.1s 1.8s ease;
}

.key.almost {
  color: #fff;
  background: #c9b459;
  transition: all 0.1s 1.8s ease;
}

.key.perfect {
  color: #fff;
  background: #6aaa65;
  transition: all 0.1s 1.8s ease;
}

.modal-inner {
  font-family: 'Lobster', cursive;
}

@keyframes zoom {
  0% {
    transform: scale(1.07);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.win-letter {
  min-width: 60px;
  color: #fff;
  background-color: #6aaa65;
}

.end-win {
  background-color: #6aaa65;
}

.end-lose {
  background-color: darkred;
}

.keyboard-container > div {
  max-width: 500px;
  margin: 0 auto;
}
