/* @import '~bootstrap/scss/bootstrap'; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700;900&display=swap');

.App {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  font-family: 'Lobster', cursive;
  margin-bottom: 20px;
}
.table {
  max-width: 350px !important;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 60px;
  grid-gap: 0.4rem;
  justify-content: center;
  margin-bottom: 20px;
}

.cube {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 900;
  border-color: #d3d6da;
}

.table .cube.border-custom-two {
  border-color: #878a8b !important;
  transition: border-color 0s;
  /* animation: zoom 0.3s linear; */
}

.table .cube.border-custom-two-a {
  animation: zoom 0.3s linear;
}

.table .cube.border-custom-no-animation {
  border-color: #878a8b !important;
  transition: border-color 0s;
}
.table .cube.grey,
.table .cube.yellow,
.table .cube.green {
  color: #fff;
  animation: flip 0.6s;
  transition: background-color 0s linear 0.3s, color 0s linear 0.3s, border-color 0s linear 0.3s;
}
.table .cube.grey {
  border: 1px solid #878a8b !important;
  background-color: #878a8b;
}

.table .cube.yellow {
  border: 1px solid #c9b459 !important;
  background-color: #c9b459 !important;
}

.table .cube.green {
  border: 1px solid #6aaa65 !important;
  background-color: #6aaa65 !important;
}

.modal-custom {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

.modal-inner {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 50px;
  background-color: #fff;
  border-radius: 6px;
  font-size: 50px;
  font-weight: 900;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.win-lose {
  font-family: 'Lobster', cursive;
}

.key {
  padding: 16px 0;
  text-align: center;
  margin: 2px;
  flex: 1;
  background-color: #d3d6db;
  cursor: pointer;
}

.enter,
.backspace {
  padding: 16px 10px;
}

.key:not(.enter):not(.backspace) {
  max-width: 46px;
}

.key.grey {
  background-color: #878a8b;
  color: #fff;
  transition: all 0.1s 1.8s ease;
}

.key.yellow {
  color: #fff;
  background: #c9b459;
  transition: all 0.1s 1.8s ease;
}

.key.green {
  color: #fff;
  background: #6aaa65;
  transition: all 0.1s 1.8s ease;
}

.random-colors {
  text-transform: uppercase;
  letter-spacing: 16px;
}
.dark {
  background-color: #121212;
  color: #fff;
}

@keyframes zoom {
  0% {
    transform: scale(1.07);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.win-letter {
  min-width: 60px;
  color: #fff;
  background-color: #6aaa65;
}

.end-win {
  background-color: #6aaa65;
}

.end-lose {
  background-color: darkred;
}

.keyboard-container > div {
  max-width: 550px;
  margin: 0 auto;
}

.shake {
  animation: shake-animation 0.3s ease-in-out !important;
}

@keyframes shake-animation {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
